* {
	box-sizing: border-box;
}

body{
	background-image: url("Макет.png");
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	overflow-y: scroll;
	background-repeat:no-repeat;
  	background-attachment:fixed;
  	background:size:cover;
}


.wrapper {
	margin: auto;
	margin-top: 350px;
	width: 70%;
	background-color: #1a2b35;
	margin-bottom: 50px;
	border: 1px solid #439c89;
	box-shadow: 0px 0px 70px rgba(73,175,130,0.5);
}

.menu {
	
}

.inner-menu {
	height: 92px;
	font-family: "GABRIOLA";
	font-size: 40pt;
	color: #d2fef6;
	text-align: center;
	background-color: #298187;
}

.menu-item {
 	box-shadow: 0 0 0px 100px #152028 inset, 0 0 0 0 #152028; 	
}

.menu-item:hover {
	box-shadow: 0 0 25px 30px #152028 inset, 0 0 0 0 #152028;
  	transition: ease-in-out;
  	color: yellow;
}

#menu-news {
	width: 20%;
	float: left;
	padding: 0;
}

#menu-catalog {
	width: 30%;
	float: left;
}


#menu-merch {
	width: 25%;
	float: left;
}


#menu-support {
	width: 25%;
	float: left;
}

.container {
	padding: 10px;
}

.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.container { 
	display: inline-block; 
}

* html .container { 
	height: 1%;
}

.container { 
	display: block; 
}

.news {	
	width: 20%;
	float: left;
}

.inner-news {
	background-color: #1a2b35;
	min-height: 250px;
	margin-bottom: -10px;
}

.news-item {
	width: 100%;
	height: 200px;
	font-family: "Arial";
	font-size: 18pt;
	color: #d2fef6;
	background-color: #2d3f4c;
	margin-bottom: 10px;
	padding: 10px;
	text-align: center;
}

.news-date {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 10px;
}

.content {
	width: 80%;
	float: left;
	padding-left: 10px;
}

.inner-content {
	padding: 20px;
	background-color: #2d3f4c;
	min-height: 620px;
	text-align: justify;
	font-family: "BANKGOTHIC LT BT";
	font-size: 25pt;
	color: #d2fef6;
	display: none;
}

#mainText {
	display: block;
}

#image-alien {
	float: right;
	width: 40%;
	margin: 20px;
}

#shapochka {
	float: right;
	width: 40%;
	margin: 20px;
}

#rubashka {
	display: block;
	float: right;
	width: 40%;
	margin: 20px;
}

.footer {
	min-width: 100%;
	margin-bottom: -10px;
	margin-top: auto;
	border-top: 1px solid #439c89;
	box-shadow: 0px 0px 70px rgba(73,175,130,0.5);
}

.inner-footer {
	min-height: 60px;
	background-color: #1a2b35;
}

.footer-item {
	float: left;
    width: 33.33%; 
    font-size: 20pt;
	color: #d2fef6;
	font-family: "GABRIOLA";
	text-align: center;
	line-height: 60px;
}