
body{
	background-image: url("Макет.png");
}

#border {
	background-color: #1a2b35;
}

#header {
	font-family: "GABRIOLA";
	font-size: 40pt;
	color: #d2fef6;
	background-color: #152028;
}

#header:hover {
	font-family: "GABRIOLA";
	font-size: 40pt;
	color: #d2fef6;
	background-color: #9F3ED5;
}

#news {
	font-family: "Arial";
	font-size: 20pt;
	color: #d2fef6;
	background-color: #2d3f4c;
}

#news:hover {
	font-family: "Arial";
	font-size: 20pt;
	color: #d2fef6;
	background-color: #152028;
}

#maintext {
	padding: 10px;
	text-align: justify;
	font-family: "BANKGOTHIC LT BT";
	font-size: 25pt;
	color: #d2fef6;
	background-color: #2d3f4c;
}

footer{	
	background-color: #1a2b35;
	font-size: 20pt;
	color: #d2fef6;
	font-family: "GABRIOLA";
}